/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 22px 0px 52px 0px;
}

nav {
    display: flex;
    gap: 68px;
    line-height: 1px;
}

nav a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    height: 2px;
    background-color: transparent;
}

nav a:hover {
    color: var(--main-color);
}

nav a:hover::after {
    background-color: var(--main-color);
}

/* **** Bannière **** */

.banner {
    margin: 30px 0px 25px 0px;
}

/* **** Formulaire **** */

.formulaire {
    margin: 35px 0px 20px 0px;
}

.search-container {
    display: flex;
}

.loc {
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    width: 49px;
}

.loc i {
    width: 49px;
    text-align: center;
    line-height: 49px;
}

.search-input {
    padding: 18px 24px;
    outline: none;
    border: 0.5px solid #f2f2f2;
}

.search-input::placeholder {
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.search-button {
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 15px 15px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.search-button:hover {
    background-color: #1669c1;
}

.search-icon-button {
    display: none;
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 15px 15px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

/* ***** Filtres ***** */
.filters{
    display: flex;
    gap: 10px;
}

.filters-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#economique {
    font-weight: bold;
    font-style: normal;
    border: #d9d9d9;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 15px 20px 15px 20px;
}

#economique:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

#familial {
    font-weight: bold;
    font-style: normal;
    border: #d9d9d9;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 15px 20px 15px 20px;
}

#familial:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

#romantique {
    font-weight: bold;
    font-style: normal;
    border: #d9d9d9;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 15px 20px 15px 20px;
}

#romantique:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

#pepites {
    font-weight: bold;
    font-style: normal;
    border: #d9d9d9;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 15px 20px 15px 20px;
}

#pepites:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

/* **** */
.info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#info-icon {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    border: #d9d9d9;
    border-radius: 30px;
    border-style: solid;
    padding: 6px 10px;
    border-width: 1px;
}

/* **** Contenu **** */

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin-bottom: 8px;

}

.euro {
    font-weight: 700px;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;

}

.hebergements-and-populaires section {

    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements-cards .card {

    margin-top: 33px;
    width: 29%;
}

.hebergements-cards img {
    width: 100%;
    height: 109px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;


    box-sizing: border-box;
}

.hebergements-cards .card title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

#afficher-plus {
    margin: 25px 0px 0px 12px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activités *****/

.activities {
    margin: 65px 30px 65px 30px;
}

.activities-boxes {
    display: flex;
}

.activity-card {

    margin: 0px 10px 0px 10px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    height: 440px;
}

.activity-card-txt {}

.activity-card .activity-card-content {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}

.activity-card-title {
    font-size: 16px;
}

.activity-card img {
    object-fit: cover;
}


.activities-title {
    margin-bottom: 30px;
}

.activities img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    padding: 0px 20px;

}

footer article {
    flex-grow: 1;
    flex-basis: 0px;

}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        margin: unset;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 22px 0px 30px 0px
    }

/* **** navigation **** */

    nav {

        border-bottom: #2222;
        border-bottom-style: solid;
        border-width: 2px;
        line-height: inherit;
        gap: unset;
        width: 100%;
        padding-bottom: 15px;
        margin-top: 30px;
    }

    nav a::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 33.4px;
        height: 2px;
        background-color: transparent;
    }

    nav a {
        flex: 1 1 0;
        text-align: center;
    }

/* **** bannière **** */

    .banner {
        margin: 30px 20px
    }

    /* formulaire */

    .search-container {
        justify-content: center;
    }

    .search-input-container {}

    .search-input {
        padding: 18px 45px;
    }

    .search-button {
        display: none;
    }

    .search-icon-button {
        color: white;
        display: inline;
        padding: 17px;
        border-radius: 20px;
        box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.2);
    }
    .fa-magnifying-glass:before, .fa-search:before {
        content: "\f002";
        color: white;
}
    /* **** */

    .filters{
        display: flex;
        flex-direction: column;
    }
    .filters-links {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center
    }

    /* **** */

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    #info-icon {
        padding: 4px 8px;
    }

/* **** contenu **** */

    .main-container {
        box-sizing: unset;
        padding: unset
    }

    /* hebergements */

    .hebergements-and-populaires section {
        border-radius: unset;
        margin-top: unset;

    }

    .hebergements-and-populaires {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .hebergements {
        background-color: white;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    #afficher-plus {
        margin: unset;
        margin-top: 25px;
    }

    /* populaires */

    .populaires {
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    /* activités */

    .activities-title {
        margin-left: 10px;
    }

    .activities-boxes {
        flex-direction: column;
        gap: 15px;
    }

    .activity-card {
        width: unset;
        height: 200px;
    }

    .activities img {
        height: 141px;
    }

    .activity-card-content {}

/* **** footer **** */

    footer {
        flex-direction: column;
        gap: 25px;
    }

    .a-propos {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }



}